In [1]:
!pip install mysql-connector-python
!pip install pandas
import mysql.connector
from mysql.connector import Error
import pandas as pd

Requirement already satisfied: mysql-connector-python in c:\users\teddy\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\teddy\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)
Requirement already satisfied: pandas in c:\users\teddy\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in c:\users\teddy\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: numpy>=1.12.0 in c:\users\teddy\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\teddy\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\teddy\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [3]:
connection = create_server_connection("localhost", "root", "")

MySQL Database connection successful

In [4]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [5]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [6]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [7]:
conn1 = create_db_connection("localhost", "root", "", "schedmaster")

MySQL Database connection successful

In [8]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [9]:
q1 = """
SELECT *
FROM students;
"""
results = read_query(conn1, q1)
for result in results:
  print(result)

('aaa111', 'John', 'Doe', 'CPSC', 120)
('AEP337', 'David', 'Hannon', 'CPSC', 120)
('ARD496', 'Holly', 'Vest', 'CPSC', 120)
('ARO779', 'Patricia', 'Gardiner', 'CPSC', 120)
('BVN318', 'Sally', 'Burleson', 'CPSC', 120)
('CAL322', 'Raymond', 'Gafney', 'CPSC', 120)
('CMP414', 'Erin', 'Hannon', 'CPSC', 120)
('CPX207', 'Jean', 'Wofford', 'CPSC', 120)
('CVQ598', 'Sharon', 'Oglesby', 'CPSC', 120)
('CYU737', 'Russell', 'Pitt', 'CPSC', 120)
('CZE889', 'Russell', 'Larue', 'CPSC', 120)
('DBY751', 'Jessee', 'Shoemaker', 'CPSC', 120)
('DGU283', 'Raymond', 'Gruber', 'CPSC', 120)
('DHP885', 'James', 'Swanson', 'CPSC', 120)
('DTW697', 'Leslie', 'Lombardi', 'CPSC', 120)
('EEH903', 'Jessee', 'Larue', 'CPSC', 120)
('ESD197', 'Alicia', 'Oglesby', 'CPSC', 120)
('ETQ254', 'Conrad', 'Vest', 'CPSC', 120)
('FEK152', 'Claire', 'Smith', 'CPSC', 120)
('FFM907', 'Joseph', 'Oglesby', 'CPSC', 120)
('FVG174', 'Sally', 'Lombardi', 'CPSC', 120)
('FXR502', 'Holly', 'Wofford', 'CPSC', 120)
('GAU407', 'Amanada', 'Gardiner', 'CPSC', 120)
('GFI193', 'Holly', 'Oglesby', 'CPSC', 120)
('GPF865', 'Alicia', 'Chisholm', 'CPSC', 120)
('GQY835', 'Joseph', 'Burleson', 'CPSC', 120)
('GYQ190', 'Amanada', 'Olvera', 'CPSC', 120)
('HNQ259', 'Fred', 'Swanson', 'CPSC', 120)
('HPD240', 'James', 'Vest', 'CPSC', 120)
('HRW465', 'James', 'Banda', 'CPSC', 120)
('HXM987', 'Erin', 'Burleson', 'CPSC', 120)
('IAL910', 'Jessee', 'Eggleston', 'CPSC', 120)
('IEM139', 'Samantha', 'Eggleston', 'CPSC', 120)
('IYD985', 'Raymond', 'Banda', 'CPSC', 120)
('JDD472', 'Patricia', 'Eggleston', 'CPSC', 120)
('JGT245', 'Claire', 'Olvera', 'CPSC', 120)
('JYI766', 'Sharon', 'Shoemaker', 'CPSC', 120)
('KAC376', 'Holly', 'Swanson', 'CPSC', 120)
('KAO433', 'Raymond', 'Smith', 'CPSC', 120)
('KDR718', 'James', 'Gafney', 'CPSC', 120)
('KFI198', 'Claire', 'Gardiner', 'CPSC', 120)
('KTF770', 'David', 'Eggleston', 'CPSC', 120)
('LBI129', 'Claire', 'McAlister', 'CPSC', 120)
('LMG987', 'Craig', 'Grey', 'CPSC', 120)
('LWC162', 'Sally', 'Lumpkin', 'CPSC', 120)
('LYK163', 'Chris', 'Duggan', 'CPSC', 120)
('MCJ704', 'Amanada', 'Duggan', 'CPSC', 120)
('MEF478', 'Sharon', 'McAlister', 'CPSC', 120)
('MKC136', 'Samantha', 'Chisholm', 'CPSC', 120)
('NAI261', 'Amanada', 'Gunderson', 'CPSC', 120)
('NFH539', 'Holly', 'McAlister', 'CPSC', 120)
('NGV591', 'Russell', 'Olvera', 'CPSC', 120)
('NJP820', 'Sally', 'Gruber', 'CPSC', 120)
('OER408', 'Craig', 'McAlister', 'CPSC', 120)
('OJK973', 'Patricia', 'Swanson', 'CPSC', 120)
('OVU670', 'Leslie', 'Lombardi', 'CPSC', 120)
('PGV156', 'Jessee', 'Pitt', 'CPSC', 120)
('PML282', 'Leslie', 'Pitt', 'CPSC', 120)
('PWE910', 'David', 'Shoemaker', 'CPSC', 120)
('PWG919', 'Conrad', 'Gruber', 'CPSC', 120)
('PXS560', 'Claire', 'Smith', 'CPSC', 120)
('QDO404', 'Allison', 'Oglesby', 'CPSC', 120)
('QHQ782', 'Chris', 'Chisholm', 'CPSC', 120)
('QRS729', 'Amanada', 'Larue', 'CPSC', 120)
('QXC805', 'Robert', 'Smith', 'CPSC', 120)
('RAU803', 'Holly', 'Olvera', 'CPSC', 120)
('RBV107', 'Jessee', 'Pitt', 'CPSC', 120)
('RFM971', 'Sharon', 'Oglesby', 'CPSC', 120)
('SLT193', 'Russell', 'Duggan', 'CPSC', 120)
('SPI182', 'Craig', 'Larue', 'CPSC', 120)
('SUP729', 'Patricia', 'Cromwell', 'CPSC', 120)
('SXM712', 'Craig', 'Gardiner', 'CPSC', 120)
('TPV107', 'Alicia', 'Larue', 'CPSC', 120)
('TRA175', 'Allison', 'Eggleston', 'CPSC', 120)
('UFJ848', 'Joseph', 'Hannon', 'CPSC', 120)
('UHS646', 'Joseph', 'Wofford', 'CPSC', 120)
('UIZ628', 'Raymond', 'Oglesby', 'CPSC', 120)
('UKY489', 'Erin', 'Olvera', 'CPSC', 120)
('UZE404', 'Robert', 'Pitt', 'CPSC', 120)
('VAN280', 'Jean', 'Lombardi', 'CPSC', 120)
('VNG359', 'Leslie', 'McCarter', 'CPSC', 120)
('VNI558', 'Patricia', 'Eggleston', 'CPSC', 120)
('VOX724', 'Jean', 'Hannon', 'CPSC', 120)
('VRQ824', 'Joseph', 'Vest', 'CPSC', 120)
('VUF221', 'Fred', 'Gardiner', 'CPSC', 120)
('VUR332', 'Sally', 'Larue', 'CPSC', 120)
('WFW973', 'Patricia', 'Pitt', 'CPSC', 120)
('WMK767', 'Joseph', 'McCarter', 'CPSC', 120)
('WVH640', 'Roger', 'Smith', 'CPSC', 120)
('XAI979', 'Allison', 'Gunderson', 'CPSC', 120)
('XEQ219', 'Robert', 'Gardiner', 'CPSC', 120)
('XEX906', 'Erin', 'Burleson', 'CPSC', 120)
('XKX863', 'Holly', 'Hannon', 'CPSC', 120)
('XSA752', 'Raymond', 'Shoemaker', 'CPSC', 120)
('YLG206', 'Samantha', 'Wofford', 'CPSC', 120)
('YQN143', 'Conrad', 'Hannon', 'CPSC', 120)
('YSJ937', 'Erin', 'Banda', 'CPSC', 120)
('ZFP852', 'Robert', 'McAlister', 'CPSC', 120)
('ZID345', 'Robert', 'Gardiner', 'CPSC', 120)
('ZLS440', 'Sharon', 'Gruber', 'CPSC', 120)
('ZPH809', 'Robert', 'Gunderson', 'CPSC', 120)

In [10]:
print(results[0][0])

aaa111

In [11]:
class Student(object):
    def __init__(self, id, firstName, lastName, major, requiredHours):
        self.id = id
        self.firstName = firstName
        self.lastName = lastName
        self.major = major
        self.requiredHours = requiredHours

In [12]:
q2 = """
SELECT *
FROM sections c;"""

In [13]:
sections = read_query(conn1, q2)

In [14]:
class CourseSect(object):
    def __init__(self, crn, courseId, sectNum, instructor, campus, location, startTime, endTime, startDate, endDate, days, cap, registered, attributes):
        self.crn = crn
        self.courseId = courseId
        self.sectNum = sectNum
        self.instructor = instructor
        self.campus = campus
        self.location = location
        self.startTime = startTime
        self.endTime = endTime
        self.startDate = startDate
        self.endDate = endDate
        self.days = days
        self.cap = cap
        self.registered = registered
        self.attributes = attributes
    def conflictsWith(self, course):
        if (self.startTime == None or course.startTime == None):
            return False
        else:
            timeOverlap = False
            dayOverlap = False
            if ((self.startTime < course.startTime and self.endTime > course.startTime) 
                or (self.startTime > course.startTime and self.startTime < course.endTime) 
                or self.startTime == course.startTime or self.endTime == course.endTime):
                timeOverlap = True
            for day in self.days:
                if (day in course.days): dayOverlap = True
            if (timeOverlap and dayOverlap): return True
            else: return False

In [15]:
allSections = []
for c in sections:
    newCourse = CourseSect(c[0], c[1], c[2], c[3], c[4], c[5], c[6], c[7], c[8], c[9], c[10], c[11], c[12], c[13],)
    allSections.append(newCourse)

In [16]:
for c in range(10):
    print(sections[c])

(20003, 'ESC1100', 0, 'Colleen Katherine Mikelson', 'D', 'XX INTERNET', None, None, datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'N/A', 50, 47, 'Beyond the Classroom and Lower Division Credit and Nat. Sciences Non-Lab Courses and Potential Test Proctoring Fee')
(20004, 'ESC1500L', 0, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=36000), datetime.timedelta(seconds=42600), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'M', 24, 24, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')
(20005, 'ESC1500L', 1, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=56400), datetime.timedelta(seconds=63000), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'M', 24, 23, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')
(20006, 'ESC1500L', 2, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=31800), datetime.timedelta(seconds=38400), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'T', 24, 22, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')
(20007, 'ESC1500L', 3, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=39000), datetime.timedelta(seconds=45600), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'T', 24, 23, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')
(20008, 'ESC1500L', 4, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=49200), datetime.timedelta(seconds=55800), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'T', 24, 23, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')
(20009, 'ESC1510', 0, 'Bradley Robert Reynolds', 'C', 'HOLT 229', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=42600), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MWF', 48, 39, 'Natural Science Lec & Lab and Lower Division Credit and Natural Science Lab Course')
(20010, 'ESC1510L', 0, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=46800), datetime.timedelta(seconds=53400), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'R', 24, 21, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')
(20011, 'ESC4100', 0, 'John C Tucker', 'C', 'EMCS 302', datetime.timedelta(seconds=33900), datetime.timedelta(seconds=38400), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'TR', 51, 51, 'Upper Division Credit')
(20012, 'ESC4840', 0, 'Bradley Robert Reynolds', 'C', 'DRTH 101', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=35400), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MWF', 60, 34, 'Upper Division Credit')

In [17]:
print(allSections[0].startTime)

None

In [18]:
allSections[0].conflictsWith(allSections[1])

False

In [19]:
allSections[1].conflictsWith(allSections[0])

False

In [20]:
allSections[1].conflictsWith(allSections[6])

True

In [21]:
allSections[1].conflictsWith(allSections[2])

False

In [22]:
allSections[6].conflictsWith(allSections[1])

True

In [23]:
def nonconflicting(studCourses, allCourses):
    conf = []
    nonconf = []
    for course1 in studCourses:
        for course2 in allCourses:
            if (course1.conflictsWith(course2)):
                if course2 not in conf:
                    conf.append(course2)
    for course in allCourses:
        if course not in conf:
            nonconf.append(course)
    return nonconf

In [24]:
courseA = allSections[0]
courseB = allSections[2]
studCourses = [courseA, courseB]
testCourses = allSections[:10]
nonconf = nonconflicting(studCourses, testCourses)

In [25]:
for c in nonconf:
    print(str(c.startTime) + ', ' + str(c.endTime) + ', ' + c.days)

None, None, N/A
10:00:00, 11:50:00, M
8:50:00, 10:40:00, T
10:50:00, 12:40:00, T
13:40:00, 15:30:00, T
11:00:00, 11:50:00, MWF
13:00:00, 14:50:00, R
9:25:00, 10:40:00, TR
9:00:00, 9:50:00, MWF

In [26]:
for c in studCourses:
    print(str(c.startTime) + ', ' + str(c.endTime) + ', ' + c.days)

None, None, N/A
15:40:00, 17:30:00, M

In [27]:
from_db = []
for c in nonconf:
    x = (c.crn, c.courseId, c.sectNum, c.startTime, c.endTime, c.days)
    from_db.append(x)
columns = ["CRN", "ID", "Section #", "Start Time", "End Time", "Days"]
df = pd.DataFrame(from_db, columns=columns)

In [28]:
display(df)

     CRN        ID  Section # Start Time End Time Days
0  20003   ESC1100          0        NaT      NaT  N/A
1  20004  ESC1500L          0   10:00:00 11:50:00    M
2  20006  ESC1500L          2   08:50:00 10:40:00    T
3  20007  ESC1500L          3   10:50:00 12:40:00    T
4  20008  ESC1500L          4   13:40:00 15:30:00    T
5  20009   ESC1510          0   11:00:00 11:50:00  MWF
6  20010  ESC1510L          0   13:00:00 14:50:00    R
7  20011   ESC4100          0   09:25:00 10:40:00   TR
8  20012   ESC4840          0   09:00:00 09:50:00  MWF

In [41]:
q3 = """
SELECT c.*
FROM sections c, students s, major_course_plans mcp
WHERE s.major = mcp.major_id AND mcp.course_id =  c.course_id
AND s.id = 'AEP337';"""
reqCourses = read_query(conn1, q3)
for result in reqCourses:
  print(result)

(20242, 'CPSC1100', 1, 'Joseph M Kizza, Li   Dai ', 'C', 'EMCS 302', datetime.timedelta(seconds=36000), datetime.timedelta(seconds=39000), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MWF', 25, 25, 'Computer Literacy and CECS Differential Course Fee and Lab/Studio Fee and Lower Division Credit')
(20568, 'CPSC1100', 3, 'Joseph M Kizza, Li   Dai ', 'C', 'EMCS 321', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=35400), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MWF', 25, 22, 'Computer Literacy and CECS Differential Course Fee and Lab/Studio Fee and Lower Division Credit')
(20776, 'CPSC1100', 4, 'Eisa Yahya Ahmed Mohamed', 'C', 'EMCS 306', datetime.timedelta(seconds=63000), datetime.timedelta(seconds=70800), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MW', 25, 24, 'Computer Literacy and CECS Differential Course Fee and Lab/Studio Fee and Lower Division Credit')
(20875, 'CPSC1100', 2, 'Katherine H Winters', 'D', 'EMCS 321', datetime.timedelta(seconds=50400), datetime.timedelta(seconds=57000), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'W', 25, 24, 'Computer Literacy and CECS Differential Course Fee and Lab/Studio Fee and Lower Division Credit and Potential Test Proctoring Fee')
(20244, 'CPSC2100', 0, 'Hong Qin', 'D', 'XX INTERNET', None, None, datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'N/A', 50, 50, 'CECS Differential Course Fee and Lower Division Credit and Potential Test Proctoring Fee')
(20245, 'CPSC3200', 0, 'David R Schwab', 'C', 'EMCS 302', datetime.timedelta(seconds=43200), datetime.timedelta(seconds=47700), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MW', 30, 27, 'CECS Differential Course Fee and Upper Division Credit')
(24022, 'CPSC3200', 1, 'David R Schwab', 'C', 'EMCS 302', datetime.timedelta(seconds=50400), datetime.timedelta(seconds=54900), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'MW', 30, 23, 'CECS Differential Course Fee and Upper Division Credit')
(20246, 'CPSC3600', 0, 'Katherine H Winters', 'D', 'XX INTERNET', None, None, datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'N/A', 50, 35, 'Course Materials Charge and CECS Differential Course Fee and Potential Test Proctoring Fee and Upper Division Credit')
(20967, 'CPSC4240', 0, 'Farah Kandah', 'D', 'XX INTERNET', None, None, datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'N/A', 25, 18, 'CECS Differential Course Fee and Potential Test Proctoring Fee and Upper Division Credit')
(20877, 'CPSC4600', 0, 'Chang S Phuong', 'C', 'EMCS 302', datetime.timedelta(seconds=39000), datetime.timedelta(seconds=43500), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'TR', 25, 21, 'Beyond the Classroom and CECS Differential Course Fee and Upper Division Credit')

In [42]:
q4 = """
SELECT c.*
FROM sections c, students s, course_registrations r
WHERE s.id = r.student_id AND r.crn =  c.crn
AND s.id = 'AEP337' AND r.semester = 'FALL2022';"""
currCourses = read_query(conn1, q4)
for result in currCourses:
  print(result)

(20010, 'ESC1510L', 0, 'Bradley Robert Reynolds', 'C', 'HOLT 225', datetime.timedelta(seconds=46800), datetime.timedelta(seconds=53400), datetime.date(2022, 1, 10), datetime.date(2022, 5, 3), 'R', 24, 21, 'Lab/Studio Fee and Lower Division Credit and Natural Science Lab Course')

In [43]:
reqCourses2 = []
for c in reqCourses:
    newCourse = CourseSect(c[0], c[1], c[2], c[3], c[4], c[5], c[6], c[7], c[8], c[9], c[10], c[11], c[12], c[13])
    reqCourses2.append(newCourse)

In [44]:
currCourses2 = []
for c in currCourses:
    newCourse = CourseSect(c[0], c[1], c[2], c[3], c[4], c[5], c[6], c[7], c[8], c[9], c[10], c[11], c[12], c[13])
    currCourses2.append(newCourse)

In [47]:
nonconf2 = nonconflicting(currCourses2, reqCourses2)

In [48]:
from_db2 = []
for c in nonconf2:
    x = (c.crn, c.courseId, c.sectNum, c.startTime, c.endTime, c.days)
    from_db2.append(x)
columns = ["CRN", "ID", "Section #", "Start Time", "End Time", "Days"]
df = pd.DataFrame(from_db2, columns=columns)

In [49]:
display(df)

     CRN        ID  Section # Start Time End Time Days
0  20242  CPSC1100          1   10:00:00 10:50:00  MWF
1  20568  CPSC1100          3   09:00:00 09:50:00  MWF
2  20776  CPSC1100          4   17:30:00 19:40:00   MW
3  20875  CPSC1100          2   14:00:00 15:50:00    W
4  20244  CPSC2100          0        NaT      NaT  N/A
5  20245  CPSC3200          0   12:00:00 13:15:00   MW
6  24022  CPSC3200          1   14:00:00 15:15:00   MW
7  20246  CPSC3600          0        NaT      NaT  N/A
8  20967  CPSC4240          0        NaT      NaT  N/A
9  20877  CPSC4600          0   10:50:00 12:05:00   TR

In [52]:
nonconf3 = nonconflicting(currCourses2, allSections[:50])
from_db3 = []
for c in nonconf3:
    x = (c.crn, c.courseId, c.sectNum, c.startTime, c.endTime, c.days)
    from_db3.append(x)
columns = ["CRN", "ID", "Section #", "Start Time", "End Time", "Days"]
df = pd.DataFrame(from_db3, columns=columns)
display(df)

      CRN         ID  Section # Start Time End Time Days
0   20003    ESC1100          0        NaT      NaT  N/A
1   20004   ESC1500L          0   10:00:00 11:50:00    M
2   20005   ESC1500L          1   15:40:00 17:30:00    M
3   20006   ESC1500L          2   08:50:00 10:40:00    T
4   20007   ESC1500L          3   10:50:00 12:40:00    T
5   20008   ESC1500L          4   13:40:00 15:30:00    T
6   20009    ESC1510          0   11:00:00 11:50:00  MWF
7   20011    ESC4100          0   09:25:00 10:40:00   TR
8   20012    ESC4840          0   09:00:00 09:50:00  MWF
9   20013    ESC5020          0   18:00:00 20:30:00    M
10  20014    ESC5050          0   18:00:00 20:30:00    T
11  20016   FREN1020          0   11:00:00 11:50:00  MWF
12  20018   FREN1020          1   12:00:00 12:50:00  MWF
13  20019   FREN2120          0   09:25:00 10:40:00   TR
14  20020   GEOG1040          0   09:00:00 09:50:00  MWF
15  20021   GEOL1110          0        NaT      NaT  N/A
16  20023   GEOL1120          0   10:00:00 10:50:00  MWF
17  20026    ART1020          0   11:00:00 13:40:00   MW
18  20027  GEOL1110L          1   12:15:00 14:05:00    T
19  20028  GEOL1110L          2   14:15:00 16:05:00    T
20  20029  GEOL1110L          3   13:00:00 14:50:00    W
21  20031    ART1020          1   15:05:00 17:45:00   TR
22  20033  GEOL1120L          0   13:00:00 14:50:00    F
23  20034   GEOL3420          0   09:00:00 09:50:00  MWF
24  20035  GEOL3420L          0   14:00:00 15:50:00    M
25  20037    ART1060          1   15:05:00 17:45:00   TR
26  20038    ART1060          2   08:00:00 10:40:00   MW
27  20039    ART1060          3   14:00:00 16:40:00   MW
28  20040    ART1110          1        NaT      NaT  N/A
29  20041    ART1110          2        NaT      NaT  N/A
30  20042    ART1110          0        NaT      NaT  N/A
31  20048    ART4060          0   11:00:00 13:40:00   MW
32  20051    ART4910          0   08:00:00 10:40:00   MW
33  20053    ACC2000          0        NaT      NaT  N/A
34  20054    ACC2010          0        NaT      NaT  N/A
35  20055    ACC2010          1   08:00:00 09:15:00   TR
36  20057    ACC2020          0   11:00:00 11:50:00  MWF
37  20058    ACC2020          1   15:05:00 16:20:00   TR
38  20061    ACC3010          1   17:30:00 20:00:00    M
39  20064    ACC3070          0   10:50:00 12:05:00   TR
40  20065    ACC4050          0   15:25:00 16:40:00   MW
41  20066    ACC4070          0        NaT      NaT  N/A
42  20067    ACC4080          1   17:30:00 20:00:00    R